@media screen and (max-width: 1135px) {
  .bkVideo-content {
    padding-top: 0px;
  }

  .hero-content {
    padding-top: 2vw;
  }
}

@media screen and (max-width: 992px){
  body {
    font-size: 16px;
  }

  .hero-container {
    font-size: 1em;
  }

  .hero-content {
    padding-top: 15vw;
    font-size: 1.5em;
  }

  .bkImg-content {
    width: 60%;
    margin-left: 20%;
  }

  .bkVideo-content {
    padding-top: 100px;
  }

  .bkImg-2-content {
    width: 50%;
    padding-left: 15px;
  }
  .bkSolid-content-right,
  .bkSolidleft-content-left {
    width: 90%;
    height: 450px;
  }

  .video-wrapper {
    margin-top: 0px;
  }

  .video-content {
    padding-top: 90px;
  }

  .faces-image {
    height: 400px;
  }

  .image-wrapper {
    position: relative;
  }

  .grid-content {
    width: 80%;
  }

  .image-slide {
    width: 100%;
    min-height: 500px;
  }

  .image-content-container  {
    position: absolute;
    width: 100%;
    min-height: 0px;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
  }

  .image-content h2 {
    font-size: 2em;
    margin: 8px 0px;
  }

  .image-content h4 {
    font-size: 1.5em;
    margin: 8px 0px;
  }

  .image-content p {
    font-size: .9em
  }
  .grid-numbers-wrapper {
    width: 50% !important;
  }
  .grid-numbers-content {
    min-height: 350px;
    padding: 80px 0 0 10px;
  }
  .teaser-wrapper {
    width: 100% !important;
  }
  .teaser-content-container {
    min-height: 125px;
  }
}

@media screen and (max-width: 850px) {
  body {
    font-size: 13px;
  }

  .bkImg-content {
    width: 75%;
    margin-left: 12.5%;
  }

  .bkImg-2-content {
    width: 60%;
    padding-left: 10px;
  }

  .bkSolid-content-container,
  .bkImg-content-container {
    width: 100%;
    font-size: 1.15em;
  }

  .bkSolid-content-container {
    padding: 40px 10px;
  }

  .bkSolid-content-right {
    display: none;
  }

  .bkSolid-content-left {
    width: 100%;
    padding: 0px 10px;
  }

  .bkSolidleft-content-right {
    margin-top: -150px;
    // font-size: .75em;
    padding: 60px 10px;
  }

  .bkSolid-content-right,
  .bkSolidleft-content-left {
    width: 90%;
    height: 400px;
  }

  .bkSolidleft-content-left {
    display: none !important;
  }

  .video-container {
    min-height: 0px;
  }

  .video-content {
    padding-top: 90px;
  }

  .faces-image {
    height: 250px;
    width: 33.33% !important;
  }

  .grid-wrapper {
    width: 50% !important;
  }

  .image-wrapper {
    position: relative;
  }

  .grid-content-container {
    font-size: .75em;
  }

  .grid-content {
    width: 60%;
  }


  .image-slide {
    width: 100%;
    min-height: 400px;
  }

  .image-content-container  {
    position: absolute;
    width: 100%;
    min-height: 0px;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
  }

  .image-content h2 {
    font-size: 2em;
    margin: 8px 0px;
  }

  .image-content h4 {
    font-size: 1.5em;
    margin: 8px 0px;
  }

  .image-content p {
    font-size: .9em
  }
}


@media screen and (max-width: 767px) {
  .video-source {
    display: none;
  }

  .section-container-faces,
  .section-container-grey,
  .section-container-white {
    padding: 8px;
  }

  body {
    font-size: 12px;
  }

  p {
    font-size: 1.25em !important;
  }

  .bkImg-content {
    width: 75%;
    margin-left: 12.5%;
  }

  .bkVideo-content {
    padding-top: 50px;
  }


  .bkImg-2-content {
    width: 60%;
    padding-left: 10px;
  }

  .bkImg-2-content p {
    font-size: 1.25em !important;
  }

  .bkSolid-content-container,
  .bkImg-content-container {
    width: 100%;
    font-size: 1.15em;
  }

  .bkSolid-content-right {
    display: none;
  }

  .bkSolid-content-left {
    width: 75%;
    margin-left: 12.5%;
  }

  .bkSolidleft-content-right {
    margin-top: -150px;
    // font-size: .75em;
  }

  .bkImg-2-arrow {
    right: 8px;
    bottom: 8px;
  }

  .bkSolid-content-right,
  .bkSolidleft-content-left {
    width: 90%;
    height: 400px;
  }

  .video-container {
    min-height: 0px;
  }

  .video-content {
    padding-top: 90px;
  }

  .faces-image {
    width: 50% !important;
    // margin-left: 25%;
    height: 300px;
  }

  .grid-wrapper {
    width: 100% !important;
    height: 250px;
  }

  .image-wrapper {
    position: relative;
  }

  .grid-content-container {
    font-size: 1em;
  }

  .grid-content-container .bkImg-2-arrow {
    display: block;
  }

  .grid-content {
    width: 95%;
    font-size: .7em;
  }

  .image-slide {
    width: 100%;
    min-height: 400px;
  }

  .image-content-container  {
    position: absolute;
    width: 100%;
    min-height: 0px;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
  }

  .image-content h2 {
    font-size: 2em;
    margin: 8px 0px;
  }

  .image-content h4 {
    font-size: 1.5em;
    margin: 8px 0px;
  }

  .image-content p {
    font-size: .9em
  }
}


@media screen and (max-width: 600px) {
  .hero-content {
    padding-top: 15vw;
    font-size: 1em;
  }
  .content-container {
    font-size: .95em;
  }
  .bkImg-content {
      width: 90%;
      margin-left: 5%;
    }

  .bkVideo-content {
    padding-top: 0px;
  }

  .bkImg-2-content {
    width: 75%;
    padding-left: 8px;
  }

  .bkImg-content-container {
    padding: 5px 0 50px;
   }

  .bkSolid-content-container {
    padding: 20px 0;
  }
  .grid-wrapper {
    height: 300px;
  }
  .video-content {
    padding-top: 5px;
  }
  .bkSolidleft-content-right {
    margin-top: -100px;
    margin-bottom: 25px;
    // font-size: .75em;
  }
  .faces-image {
    width: 80% !important;
    margin-left: 10%;
    height: 300px;
  }
  .bkImg-2-content p {
    margin-top: 75px;
    font-size: 1.4em !important;
  }
  .bkImg-2-arrow {
    width: 50px;
  }
  .image-slide {
    width: 100%;
    min-height: 300px;
  }
  .image-content h2 {
    font-size: 2.25em;
    margin: 8px 0px;
  }

  .image-content h4 {
    font-size: 2em;
    margin: 8px 0px;
  }

  .image-content {
    padding: 5px 5px;
  }

  .image-content p {
    display: none;
  }

  .grid-numbers-wrapper {
    width: 100% !important;
  }

  .grid-numbers-content {
    min-height: 300px;
    padding: 60px 0 0 10px;
  }

  .bkSolid-content-left,
  .bkSolidleft-content-right {
    width: 100%;
    margin-left: 0%;
  }

  .bkSolid-content-left h1,
  .bkSolidleft-content-right h1,
  .bkImg-content h1 {
    text-align: left;
  }
}
