body:not(#about-site) {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: $black;
}

h1:not(#about-site) {
  font-weight: 100;
  font-size: 3em;
}

h2:not(#about-site) {
  font-weight: 300;
  font-size: 2.5em;
}

h3:not(#about-site) {
  font-weight: 300;
  font-size: 2.25em;
}

h4:not(#about-site) {
  font-weight: 700;
  font-size: 2em;
}

h5:not(#about-site) {
  font-weight: 400;
  font-size: 1.5em;
}

h6:not(#about-site) {
  font-weight: 400;
  font-size: 1.25em;
}

p:not(#about-site) {
  font-weight: 300;
  font-size: 1.05em;
}
