body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
}

h1 {
  font-weight: 100;
  font-size: 3em;
}

h2 {
  font-weight: 300;
  font-size: 2.5em;
}

h3 {
  font-weight: 300;
  font-size: 2.25em;
}

h4 {
  font-weight: 700;
  font-size: 2em;
}

h5 {
  font-weight: 400;
  font-size: 1.5em;
}

h6 {
  font-weight: 400;
  font-size: 1.25em;
}

p {
  font-weight: 300;
  font-size: 1.05em;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #c2c2c2;
  color: #000;
  margin: 0px;
}

.main-container {
  width: 100%;
  max-width: 1500px;
  margin: 0px auto;
}

.hero-container {
  width: 100%;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  color: #fff;
  padding: 5% 0;
  background: url("https://www.google.com/trends/2014/static/images/hero-landing-1440.jpg") no-repeat center center;
  background-size: cover;
}

.section-container-white,
.section-container-grey,
.section-container-faces {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  color: #000;
}

.section-container-grey {
  background-color: #E0E0E0;
  color: #000;
}

.section-container-faces {
  background-color: #000;
  color: #fff;
}

.section-container h1 {
  margin: 0px;
  padding: 20px 0px 40px 0px;
}

.bkImg-container {
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #fff;
}

.bkImg-wrapper {
  width: 100%;
  height: 100%;
}

.bkImg-content-container {
  width: 100%;
  padding: 30px 0px 90px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.bkImg-content-container .bkImg-button {
  color: #fff;
}

.bkImg-content {
  width: 50%;
  margin-left: 25%;
  padding-bottom: 50px;
  text-align: center;
}

.bkImg-content p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.bkImg-button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 25px;
  background-color: #cc0000;
  color: #fff;
  font-weight: 900;
  font-size: .75em;
}

a .bkImg-button:hover {
  transform: scale(1.1);
  transition: all .25s ease;
}

.bkImg-content a,
.bkSolid-content-left a {
  text-align: center;
  color: #fff;
}

.bkImg-content .bkImg-button {
  color: #fff;
}

.bkVideo-container {
  position: relative;
  background-color: #000;
  max-height: 600px;
  overflow: hidden;
  width: 100%;
}

.bkVideo-content-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.bkVideo-content {
  width: 80%;
  margin-left: 10%;
  height: 100%;
  padding-top: 100px;
  color: #fff;
}

.bkVideo-content p {
  margin-bottom: 50px;
}

.video-content .bkImg-button {
  color: #fff;
}

.video-content h3 {
  margin-bottom: 40px;
}

.bkSolid-container {
  background-color: #fff;
  width: 100%;
  color: #000;
  font-size: 1em;
}

.bkSolid-content-container {
  float: left;
  width: 50%;
  min-height: 100%;
  padding: 60px 0px 60px 0px;
  text-align: center;
}

.bkSolid-content-left {
  width: 100%;
  padding: 0px 10px;
}

.bkSolid-content-left p {
  font-family: 'Roboto', sans-serif;
}

.bkSolid-content-left h3,
.bkSolidleft-content-right h3 {
  margin-bottom: 30px;
}

.bkSolidleft-content-right .bkImg-button {
  color: #fff;
}

.bkSolidLeft-paragraph {
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
}

.bkSolidleft-content-left {
  width: 90%;
  height: 600px;
  margin-left: 5%;
}

.bkSolid-content-right {
  width: 90%;
  height: 600px;
}

.bkSolidleft-content-right {
  width: 100%;
  padding: 0px 10px;
}

.bkSolid-content-left p {
  font-size: 1em;
  padding-bottom: 25px;
}

.bkSolid-image {
  width: 100%;
  height: 100%;
}

.faces-container {
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1em;
  margin-bottom: 75px;
}

.faces-wrapper {
  float: left;
  background-color: #000;
  width: 100%;
  height: 100%;
}

.faces-image {
  background: url(http://www.northeastern.edu/news/wp-content/uploads/2016/12/Thumb_D3A0190.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  float: left;
}

.faces-image:hover {
  opacity: .6;
  cursor: zoom-in;
}

.faces-content {
  text-align: center;
  float: left;
  width: 100%;
  margin-top: -35px;
}

.faces-content .bkImg-button {
  color: #fff;
}

.video-container {
  position: relative;
  background-color: #000;
  max-height: 500px;
  overflow: hidden;
  width: 100%;
}

.video-wrapper {
  background-color: #000;
  width: 100%;
  height: auto;
  margin-top: -150px;
}

.video-content-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.35);
  text-align: center;
}

.video-content {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  color: #fff;
}

.video-content .bkImg-button {
  color: #fff;
}

.video-content h3 {
  margin-bottom: 40px;
}

.grid-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.grid-wrapper {
  float: left;
  width: 33.33%;
  height: 400px;
  object-fit: cover;
  background-color: #fff;
}

.grid-wrapper:hover {
  transform: scale(0.97);
  transition: all .25s ease;
  cursor: pointer;
  opacity: .85;
}

.grid-content-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: .5em;
}

.grid-content {
  color: #fff;
  width: 70%;
  padding: 20px 0px 0px 10px;
  text-align: left;
}

.bkImg-2-container {
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #fff;
}

.bkImg-2-wrapper {
  width: 100%;
  height: 100%;
}

.bkImg-2-content-container {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.bkImg-2-content {
  color: #fff;
  padding-bottom: 50px;
  width: 40%;
  padding-left: 20px;
}

.bkImg-2-content h1 {
  margin: 25px 0px;
}

.bkImg-2-content h3 {
  margin: 25px 0px;
}

.bkImg-2-content p {
  text-align: left;
  margin-top: 150px;
  font-family: 'Roboto', sans-serif;
}

.bkImg-2-arrow {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 60px;
}

.image-container {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.image-container button {
  display: none !important;
}

.image-wrapper {
  float: left;
  width: 100%;
}

.image-slide {
  float: left;
  width: 70%;
  background-color: #000;
  min-height: 450px;
}

.tile-slide {
  float: left;
  width: 100%;
  min-height: 300px;
}

.tile-content-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.tile-content {
  width: 80%;
  min-height: 300px;
  padding-top: 25px;
  margin-left: 10%;
}

.tile-number {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 15px 45px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.tile-number h3 {
  line-height: 225px;
}

.tile-content p {
  margin-bottom: 50px;
}

.image-content-container {
  float: left;
  width: 30%;
  min-height: 450px;
  background-color: #000;
}

.image-content {
  color: #fff;
  width: 100%;
  text-align: left;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
}

.image-content p {
  font-family: 'Roboto', sans-serif;
}

.grid-numbers-container {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 0.9em;
}

.grid-numbers-wrapper {
  float: left;
  position: relative;
  height: 100%;
  background-size: cover;
}

.grid-numbers-content {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding: 100px 0px 0px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.grid-number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 30px;
  background-color: white;
  z-index: 10000;
  color: #000;
}

a:hover .bkImg-2-arrow {
  transform: scale(1.25);
  transition: all .25s ease;
}

a .bkImg-button:hover {
  transform: scale(1.1);
  transition: all .25s ease;
}

.text-image-wrapper {
  height: 100%;
  width: 100%;
  float: left;
}

.tile-slide {
  float: left;
  width: 100%;
}

.teaser-container {
  width: 100%;
  height: 100%;
}

.teaser-wrapper {
  float: left;
  height: 100%;
  width: 100%;
}

.teaser-content-container {
  width: 100%;
  min-height: 400px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.teaser-content-container:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .25s ease;
}

.teaser-content {
  padding: 30px 0px;
}

.list-container {
  width: 100%;
  height: 100%;
}

.list-content-container {
  width: 75%;
  margin: 2px 0px 2px 12.5%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  color: #000;
  border-radius: 4px;
}

.list-content-container:hover {
  width: 100%;
  margin: 2px 0px 2px 0px;
  background-color: #000;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  transition: all .25s ease;
}

.list-content {
  width: 100%;
  padding: 15px 0px;
}

.pf-content {
  width: 100%;
}

#about-site h4 {
  font-family: Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
  font-size: 1.2em;
  margin-bottom: 0.6em;
  font-weight: 100;
}

#about-site h4 a {
  color: #C00;
}

.about-news p, p.about-news {
  font-size: 13px;
  line-height: 130%;
  padding-right: 10px;
  color: #7F7F7F;
  font-family: Baskerville, Garamond, "Palatino Linotype", Georgia, "Times New Roman", serif;
}

#about-site table button {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #fafafa;
  box-shadow: inset 0 2px 1px #fff;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 12px;
  font-size: 1.4rem;
  padding: 1.12em 1.5em .88em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-weight: bold;
  padding-bottom: 1.12em;
}

@media screen and (max-width: 1135px) {
  .bkVideo-content {
    padding-top: 0px;
  }
}
@media screen and (max-width: 992px) {
  body {
    font-size: 15px;
  }

  .hero-container {
    font-size: 1em;
  }

  .bkImg-content {
    width: 60%;
    margin-left: 20%;
  }

  .bkVideo-content {
    padding-top: 100px;
  }

  .bkImg-2-content {
    width: 50%;
    padding-left: 15px;
  }

  .bkSolid-content-right,
  .bkSolidleft-content-left {
    width: 90%;
    height: 450px;
  }

  .video-wrapper {
    margin-top: 0px;
  }

  .video-content {
    padding-top: 90px;
  }

  .faces-image {
    height: 400px;
  }

  .image-wrapper {
    position: relative;
  }

  .grid-content {
    width: 80%;
  }

  .image-slide {
    width: 100%;
    min-height: 500px;
  }

  .image-content-container {
    position: absolute;
    width: 100%;
    min-height: 0px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .image-content h2 {
    font-size: 2em;
    margin: 8px 0px;
  }

  .image-content h4 {
    font-size: 1.5em;
    margin: 8px 0px;
  }

  .image-content p {
    font-size: 0.9em;
  }

  .grid-numbers-wrapper {
    width: 50% !important;
  }

  .grid-numbers-content {
    min-height: 350px;
    padding: 80px 0 0 10px;
  }

  .teaser-wrapper {
    width: 100% !important;
  }

  .teaser-content-container {
    min-height: 125px;
  }
}
@media screen and (max-width: 850px) {
  body {
    font-size: 13px;
  }

  .bkImg-content {
    width: 75%;
    margin-left: 12.5%;
  }

  .bkImg-2-content {
    width: 60%;
    padding-left: 10px;
  }

  .bkSolid-content-container,
  .bkImg-content-container {
    width: 100%;
    font-size: 1.15em;
  }

  .bkSolid-content-container {
    padding: 40px 10px;
  }

  .bkSolid-content-right {
    display: none;
  }

  .bkSolid-content-left {
    width: 100%;
    padding: 0px 10px;
  }

  .bkSolidleft-content-right {
    margin-top: -150px;
    padding: 60px 10px;
  }

  .bkSolid-content-right,
  .bkSolidleft-content-left {
    width: 90%;
    height: 400px;
  }

  .bkSolidleft-content-left {
    display: none !important;
  }

  .video-container {
    min-height: 0px;
  }

  .video-content {
    padding-top: 90px;
  }

  .faces-image {
    height: 250px;
    width: 33.33% !important;
  }

  .grid-wrapper {
    width: 50% !important;
  }

  .image-wrapper {
    position: relative;
  }

  .grid-content-container {
    font-size: .75em;
  }

  .grid-content {
    width: 60%;
  }

  .image-slide {
    width: 100%;
    min-height: 400px;
  }

  .image-content-container {
    position: absolute;
    width: 100%;
    min-height: 0px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .image-content h2 {
    font-size: 2em;
    margin: 8px 0px;
  }

  .image-content h4 {
    font-size: 1.5em;
    margin: 8px 0px;
  }

  .image-content p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }

  p {
    font-size: 1.25em !important;
  }

  .bkImg-content {
    width: 75%;
    margin-left: 12.5%;
  }

  .bkVideo-content {
    padding-top: 50px;
  }

  .bkImg-2-content {
    width: 60%;
    padding-left: 10px;
  }

  .bkImg-2-content p {
    font-size: 1.25em !important;
  }

  .bkSolid-content-container,
  .bkImg-content-container {
    width: 100%;
    font-size: 1.15em;
  }

  .bkSolid-content-right {
    display: none;
  }

  .bkSolid-content-left {
    width: 75%;
    margin-left: 12.5%;
  }

  .bkSolidleft-content-right {
    margin-top: -150px;
  }

  .bkSolid-content-right,
  .bkSolidleft-content-left {
    width: 90%;
    height: 400px;
  }

  .video-container {
    min-height: 0px;
  }

  .video-content {
    padding-top: 90px;
  }

  .faces-image {
    width: 50% !important;
    height: 300px;
  }

  .grid-wrapper {
    width: 100% !important;
    height: 250px;
  }

  .image-wrapper {
    position: relative;
  }

  .grid-content-container {
    font-size: 1em;
  }

  .grid-content {
    width: 60%;
  }

  .image-slide {
    width: 100%;
    min-height: 400px;
  }

  .image-content-container {
    position: absolute;
    width: 100%;
    min-height: 0px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .image-content h2 {
    font-size: 2em;
    margin: 8px 0px;
  }

  .image-content h4 {
    font-size: 1.5em;
    margin: 8px 0px;
  }

  .image-content p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 600px) {
  .content-container {
    font-size: .95em;
  }

  .bkImg-content {
    width: 90%;
    margin-left: 5%;
  }

  .bkVideo-content {
    padding-top: 0px;
  }

  .bkImg-2-content {
    width: 75%;
    padding-left: 8px;
  }

  .bkImg-content-container {
    padding: 5px 0 50px;
  }

  .bkSolid-content-container {
    padding: 20px 0;
  }

  .grid-wrapper {
    height: 200px;
  }

  .video-content {
    padding-top: 5px;
  }

  .bkSolidleft-content-right {
    margin-top: -100px;
    margin-bottom: 25px;
  }

  .faces-image {
    width: 80% !important;
    margin-left: 10%;
    height: 300px;
  }

  .bkImg-2-content p {
    margin-top: 75px;
    font-size: 1.4em !important;
  }

  .bkImg-2-arrow {
    width: 50px;
  }

  .image-slide {
    width: 100%;
    min-height: 300px;
  }

  .image-content h2 {
    font-size: 2.25em;
    margin: 8px 0px;
  }

  .image-content h4 {
    font-size: 2em;
    margin: 8px 0px;
  }

  .image-content {
    padding: 5px 5px;
  }

  .image-content p {
    display: none;
  }

  .grid-numbers-wrapper {
    width: 100% !important;
  }

  .grid-numbers-content {
    min-height: 300px;
    padding: 60px 0 0 10px;
  }
}

/*# sourceMappingURL=index.css.map */
